body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
<<<<<<< HEAD
=======
h2 {
    color: navy;
    margin-left: 20px;
}
>>>>>>> e75c3b638c0703c1a7d91d2ae338890eb78d7eb6
div {
    text-align: justify;
}
a {
    color: red;

}
<<<<<<< HEAD
=======
.container img {
    width: 10%;
    height: auto;
}
>>>>>>> e75c3b638c0703c1a7d91d2ae338890eb78d7eb6

