body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
h2 {
    color: navy;
    margin-left: 20px;
}
div {
    text-align: justify;
}
a {
    color: red;

}
.container img {
    width: 10%;
    height: auto;
}

