body {
    background-color: #00BF96;
}

h1 {
    color: blue;
    margin-left: 50px;
}
h2 {
    color: blue;
    margin-left: 50px;
}
div {
    text-align: justify;
}
a {
    color: red;
}
a:hover {
	background-color: yellow;
}
.container img {
    width: 10%;
    height: auto;
}
.container img:hover {
	cursor: crosshair
}
table, td, th, tr {
	border: 1px black 
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
