<!-- See leht sai funk.php kuvapuurid() funktsioonis includetud !-->
<!-- tnx @jkoolmei !-->
<?php
if (!empty($puurid)):
    foreach($puurid as $key => $loom):

?>
<div class="puur">
    Puuris nr. <?php echo ($key);?> asuvad loomad <?php foreach ($loom as $value):?>
<p><img src="<?php echo $value;?>"></p>
    <?php next ($puurid);?>
<?php endforeach;?>
    nimedega <?php foreach ($nimed[$key] as $nimi):?> <!--nimede jaoks !-->
    <?php print_r($nimi . " ");?> <!--nimede jaoks !-->
<?php endforeach;?> <!--nimede jaoks !-->
</div>

<?php
endforeach;
endif;?>

